body{
    font-family: Arial, sans-serif;
    font-size: 1em;
}
h1,h3,h4{
    color: orange;
}
.green{
    color: rgb(0, 255, 0);
}
p{  
    text-indent: 35px;
    text-align: justify;
}
table{
    width: 40%;
    border-collapse: collapse;
    text-align: center;
}
table, th, td{
    border: 3px solid green;
    padding: 6px;
}
