body{
    background-color: bisque;
}

.Menu_flightAirline{
    position: relative;
    padding: 0.5em 2em 0.5em 0.5em;
    font-size: 20px;
    background-color: rgba(80, 80, 100, 0.9);
    color: white;
    border: 0;
    appearance: none;
    outline: none;
}
